* {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #c1121f;
    height: 110px;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  
  header nav ul a img {
    padding: 0px 15px 40px 0px;
    margin-top: -5px;
  }
  
  #hamburger {
    margin-top: -10px;
  }
  
  #logo,
  header nav {
    height: 110px;
  }
  
  header img {
    float: left;
    padding-left: 70px;
  }
  
  header nav ul {
    float: right;
    margin-top: -10px;
    padding: 58px 70px 0px 0px;
  }
  
  header nav ul a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
  }

  header nav ul a:hover{
    color: rgb(65, 59, 59);
  transition: 0.5s;
  }

  .container {
    padding-top: 110px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
  }
  
  .back-img {
    display: flex;
    background-image: url("assets/Background_Register.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.00005 black;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: white;
    border: 2px solid rgba(172, 172, 172, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(158, 155, 155, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
  }

  .wrapper.active {
    height: 670px;
  }

  .wrapper .form-box {
    width: 80%;
    padding: 40px;
    justify-content: center;
  }

  .wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
  }

  .wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
    }

  .wrapper .form-box.register {
    position: absolute;
    height: 610px;
    transition: none;
    transform: translateX(400px);
  }

  .wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
  }

  .form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
  }

  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .input-box label {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }

  .input-box input:focus~label,
  .input-box input:valid~label {
    top: -5px;
  }

  .input-box input {
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding:  0 35px 0 5 px;
  }

  .input-box .icon {
    position: absolute;
    left: 5px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
    justify-content: center;
  }

  .remember-forgot {
    font-size: 0.9em;
    color: #162938;
    margin: 10px 0 15px;
    display: flex;
    justify-content: space-between;
  }

  .remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
  }

  .remember-forgot {
    color: #162938;
    text-decoration: none;
  }

  .remember-forgot a {
    color: #4169e1;
  }

  .remember-forgot a:hover {
    text-decoration: underline;
  }

  .btn {
    width: 30%;
    height: 40px;
    background: #c1121f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
  }

  .login-register {
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }

  .login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
  }

  .login-register p a:hover {
    text-decoration: underline black;
  }

  .break {
    height: 80px;
  }

 .about {
  background-color: #c1121f;
  padding: 50px 80px;
}

.about h3 {
  font-weight: bolder;
  margin-top: 20px;
}

.footer-alamat {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: white;
}

.kantorPusat {
  width: 50%;
}

.tentangJTE,
.services {
  width: 20%;
}

.sosmed ul{
  float: right;
  justify-content: space-between;
  margin: -15px 10px 0;
}

.sosmed ul a{
  display: grid;
  width: 40px;
  height: 40px;
  background-color: white;
  color: #c1121f;
  border-radius: 50%;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
  }

.sosmed a:hover{
  color: #000;
}

.footer {
  display: flex;
  margin: 0px 50px;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: #c1121f;
}