* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #c1121f;
  height: 110px;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

header nav ul a img {
  padding: 0px 15px 40px 0px;
  margin-top: -5px;
}

#hamburger {
  margin-top: -10px;
}

#logo,
header nav {
  height: 110px;
}

header img {
  float: left;
  padding-left: 70px;
}

header nav ul {
  float: right;
  margin-top: -10px;
  padding: 58px 70px 0px 0px;
}

header nav ul a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.container {
  padding-top: 110px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 800px;
}

.container img {
  width: 100%;
  height: 800px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 500%;
}

.slider img {
  width: 100%;
  height: auto;
}

.slider.slide-1 {
  transform: translateX(0);
}
.slider.slide-2 {
  transform: translateX(-20%);
}
.slider.slide-3 {
  transform: translateX(-40%);
}
.slider.slide-4 {
  transform: translateX(-60%);
}
.slider.slide-5 {
  transform: translateX(-80%);
}

.break {
  height: 80px;
}

.excess h1 {
  text-align: center;
}

    .rainbow-heading span:nth-child(1) {
        color: red;
    }
    .rainbow-heading span:nth-child(2) {
        color: black;
    }
    .rainbow-heading span:nth-child(3) {
        color: red;
    }

    .rainbow-heading span:nth-child(4) {
        color: red;
    }
    .rainbow-heading span:nth-child(5) {
        color: black;
    }

@font-face{
    font-family: knewave;
    src: url('knewave.ttf')
  }
  h1 {
    font-family: knewave;
    padding: 10px 0px 0px 0px;
    font-size: 100px;
  }

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 30vh;
}

iframe {
  width: 80%;
  height: 30vh;
  border: none;
}


  .search-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    padding: 20px;
    width: 1300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 30px;
    margin-right: 50px;
}

button {
    padding: 20px 20px;
    background-color: #e31212;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}

button:hover {
    background-color: #801d1d;
}

#footerimg {
  width: 100%;
  height: 600px;
  display: block;
  margin: auto;
}

.card {
  width: 300px;
  height: 340px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.card h3 {
  color: #c1121f;
  padding: 20px 0px 20px 0px;
}

.about {
  background-color: #c1121f;
  padding: 50px 80px;
}

.about h3 {
  font-weight: bolder;
  margin-top: 20px;
}


.footer-alamat {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: white;
}

.kantorPusat {
  width: 50%;
}

.tentangJTE,
.services {
  width: 20%;
}

.footer {
  display: flex;
  margin: 0px 50px;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: #c1121f;
}


